.DS_Store
*/.DS_Store
.ipynb_checkpoints
RuntimeF90Test_*_*.dat
RuntimeCppTest_*_*.dat
docs/OrchestrationRuntime.log
docs/OrchestrationRuntime.aux
docs/OrchestrationRuntime.pdf
test_threadteam_cpp.x
test_runtime_cpp.x
test_runtime_f2003.x
*.log
*.mod
src/*.o
src/*.mod
test/*.o
test/*.mod
