.DS_Store
*/.DS_Store
.ipynb_checkpoints
gatherDataCpp_*_*_*_*_*_*.dat
gatherDataF2003_*_*_*_*_*_*.dat
docs/OrchestrationSystem.log
docs/OrchestrationSystem.aux
docs/OrchestrationSystem.pdf
sites/*/test_threadteam_cpp.x
sites/*/test_runtime_cpp.x
sites/*/gather_data_cpp.x
sites/*/gather_data_*_*.x
sites/*/gather_data_F2003.x
sites/summit/gatherDataCpp.*
*.log
*.mod
*.dSYM
src/*.o
src/*.mod
test/buildInfo.h
test/buildInfo.inc
test/Flash.h
test/constants.h
test/*.o
test/*.mod
