.DS_Store
*/.DS_Store
.ipynb_checkpoints
ctags
gatherDataCpp_*_*_*_*_*_*.dat
gatherDataF2003_*_*_*_*_*_*.dat
docs/OrchestrationSystem.log
docs/OrchestrationSystem.aux
docs/OrchestrationSystem.pdf
docs/data\ types.pdf
docs/GridPolymorphism.pdf
docs/doxygen/html
docs/doxygen/latex
docs/DevGuide/_build
sites/*/test_threadteam_cpp.x
sites/*/test_runtime_null_cpp.x
sites/*/gather_data_cpp.x
sites/*/gather_data_cpp_*_*.x
sites/*/gather_data_F2003.x
sites/*/gather_data_F2003_*_*.x
sites/*/binaries
sites/*/sedov_plt_*
sites/hello/*.x
sites/hello/*.dat
sites/gce/*.dat
sites/gce/*.log
sites/summit/testThreadTeam.*
sites/summit/testRuntimeNullCpp.*
sites/summit/testCudaBackend.*
sites/summit/testRuntimeCuda.*
sites/summit/gatherDataCpp.*
sites/summit/gatherDataF2003.*
sites/summit/sedovCpuCpp.*
sites/summit/sedovGpuCpp.*
sites/summit/sedovBaselineCpp.*
sites/summit/sedov_[23]D_cartesian_cpu.par
sites/summit/sedov_[23]D_cartesian_gpu.par
sites/bebop/build/build_*.log
sites/bebop/test_threadteam_cpp_bebop.[oe]*
sites/bebop/test_runtime_cpp_bebop.[oe]*
sites/bebop/gather_data_cpp_bebop_*
sites/bebop/gather_data_cpp_bebop.[oe]*
sites/bebop/gather_data_F2003_bebop_*
sites/bebop/gather_data_F2003_bebop.[oe]*
sites/Thomass-MBP/build/*plt*
*.log
*.mod
*.dSYM
src/*.o
src/*.mod
test/*/buildInfo.h
test/*/buildInfo.inc
test/*/*.o
test/*.mod
test/Runtime/gpu/*.graffle
test/Sedov/gpu/*.graffle
studies/Summit_2020-04-15/gatherDataCpp_*
studies/Summit_2020-04-15/gatherDataF2003_*
studies/Summit_2020-04-15/testRuntimeCpp_*
studies/Summit_2020-04-15/testThreadTeam_*
build/*
tools/sedov_pypkg/.eggs
tools/sedov_pypkg/Sedov.egg-info/
tools/sedov_pypkg/dist/
tools/sedov_pypkg/sedov/__pycache__/
