[flake8]
exclude =
    .tox
    build
    dist
per-file-ignores =
    # Do not apply PEP8 to __init__.py files
    src/milhoja/__init__.py:F401
    src/milhoja/tests/__init__.py:F401
    # TODO: Temporarily quiet too long lines for code generators *only*
    src/milhoja/TaskFunctionGenerator_cpu_cpp.py:E501
    src/milhoja/TaskFunctionGenerator_OpenACC_F.py:E501
    src/milhoja/TileWrapperGenerator_cpp.py:E501
